:root {
    --azul_petroleo:    #093d48;
    --verde_agua:       #00A896;
    --branco_gelo:     #F9FAFB;
    --cinza_claro:      #E5E7EB;
    --preto_suave:      #111827;
    --cinza_escuro:     #374151;
    --bg-content:       #F3F8F9;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background-color: var(--azul_petroleo);
    display: flex;
    padding: 0 300px;
    box-sizing: border-box;
}

header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 50%;
    padding: 100px 0;
    gap: 2rem;
}

header .header-content div h1 {
    color: var(--branco_gelo);
    font-size: 4rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

header .header-content div h2 {
    color: var(--verde_agua);
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

header .header-content p {
    color: var(--branco_gelo);
    font-size: 1rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

header .header-content button {
    background-color: var(--verde_agua);
    color: var(--branco_gelo);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

header .header-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

main {
    display: flex;
    gap: 2rem;
    padding: 0 300px;
    padding-top: 50px;
    background-color: var(--bg-content);
}

main section {
    width: 50%;
    padding: 100px 0;
}

main section .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

main section .about h2 {
    color: var(--azul_petroleo);
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

main section .about p {
    color: var(--cinza_escuro);
    font-size: 1rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
    padding-left: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--verde_agua);
}

.timeline-item {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: 0.0rem;
    width: 10px;
    height: 10px;
    background-color: var(--verde_agua);
    border-radius: 50%;
}

.timeline-date {
    font-weight: bold;
    color: var(--verde_agua);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.timeline-item p {
    margin: 0;
    color: var(--cinza_escuro);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

