footer {
    width: 100%;
    padding: 4px 0;
    background-color: var(--petroleum-blue);
    color: var(--ice-white);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: var(--font-small);
    font-weight: 300;
}